   
    <div class="card text-center ">
      <div class="card-header">
        <ul class=" nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a routerLink="/"><i class="fa fa-user i-card" ></i>&nbsp;&nbsp;<b>Admin Setting</b></a>
          </li><br/><br/>
          <li class="nav-item">
            <a routerLink="/"><i class="fa fa-th i-cardview" aria-hidden="true"></i>&nbsp;&nbsp;Item Views</a>
          </li>
          <li class="nav-item">
            <a routerLink="/cardlist"><i class="fa fa-bars i-listview" aria-hidden="true"></i>&nbsp;&nbsp;Order List Views</a>
          </li>
          <li class="nav-item">
              <a routerLink="/newcard"><i class="fa fa-plus i-newcard" aria-hidden="true"></i>&nbsp;&nbsp;Create New Item</a>
            </li>
        </ul>
      </div>
      </div>

